#menu-item {
   z-index:10000;
   height:auto;

}

.item-name {
    height:30px;
    border:0px solid black;
   /* word-break: break-all;*/
}


.right-content
{
    float:right;
    border:0px solid green;
    width:200px;
    position:relative;

    }

#item-specific-content a
{
  width:100%;

}
