#park {
  width:400px;
  display: block;
  top:150px;
  left:50%;
  margin-left: -200px;
  padding-bottom: 45px;
}

#park-image {
  position: relative;
}
.park-section {
  border: 1px solid fuchsia;
  height:93px;
  width:113px;
  position: absolute;
}

#park-image div:nth-child(2){
  top: 130px;
  left:20px;
}
#park-image div:nth-child(3){
  top: 65px;
  left:140px;
}
#park-image div:nth-child(4){
  top: 130px;
  left:260px;
}
#park-image div:nth-child(5){
  top: 201px;
  left:140px;
}
